// В этом файле должны быть стили для БЭМ-блока test, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.test {

  $block-name: &; // #{$block-name}__element

  &__two {
    color: #000;
    background: #ffff00;
    padding: 25px;
    display: block;
  }
}

.test2 {
  color: #ffc0cb;
  background: #000;
  padding: 25px;
  display: block;
}
